In [3]:
##import libraries

import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
#Convert a collection of text documents to a matrix of token counts
from sklearn.model_selection import train_test_split

from sklearn.naive_bayes import BernoulliNB

In [33]:
data = pd.read_csv("Youtube01-Psy.csv")

In [34]:
data.sample(5)

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
99,z13sx1mitrmpcls3f22hi5ep1yq5cvmld,roflcopter2110,2014-11-04T02:22:06,http://thepiratebay.se/torrent/6381501/Timothy...,1
213,z12iircxtsjpwvqbd04chjzbemjtj5kohxg0k,Bert Dionne,2014-11-07T18:05:40,The most liked video on YouTube...﻿,0
310,z12kx35bmpbiez0kp22qxrrrrzecznnw004,Puppy Lover5614,2014-11-11T22:48:11,I hav absolutely no idea what he's saying. Is ...,0
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
250,z12eex1wzu2ky35en22wfpswwxjqynsus,John Schmidt,2014-11-08T02:58:48,why are they 5million comments when there is o...,0

In [35]:
#We only need the content and class column from the dataset for the rest of the task
data=data[['CONTENT','CLASS']]

In [36]:
data.head()

                                             CONTENT  CLASS
0  Huh, anyway check out this you[tube] channel: ...      1
1  Hey guys check out my new channel and our firs...      1
2             just for test I have to say murdev.com      1
3   me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
4            watch?v=vtaRGgvGtWQ   Check this out .﻿      1

In [37]:
#The class column contains values 0 and 1. 0 indicates not spam, and 1 indicates spam
#converting it into spam and not spam
# data['CLASS'] = data['CLASS'].map({0:"Not Spam",
#                                  1:"Spam"})

In [38]:
data.head()

                                             CONTENT  CLASS
0  Huh, anyway check out this you[tube] channel: ...      1
1  Hey guys check out my new channel and our firs...      1
2             just for test I have to say murdev.com      1
3   me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
4            watch?v=vtaRGgvGtWQ   Check this out .﻿      1

In [39]:
## Training a classification model
#using Bernoulli Naive Bayes is one of the variants of the Naive Bayes algorithm in machine learning. It is very useful to be used when the dataset
#is in a binary distribution where the output label is present or absent

In [40]:
x = np.array(data['CONTENT'])
y = np.array(data['CLASS'])

In [41]:
cv = CountVectorizer()
x = cv.fit_transform(x)

In [42]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25, random_state=42)

In [43]:
model = BernoulliNB()

In [44]:
model.fit(x_train,y_train)

BernoulliNB()

In [45]:
print(model.score(x_test,y_test))

0.9659090909090909

In [46]:
sample =  "Check this out: https://thecleverprogrammer.com/"
data = cv.transform([sample]).toarray()

In [47]:
model.predict(data)

array([1], dtype=int64)

In [48]:
sample = "Lack of information!"
data = cv.transform([sample]).toarray()
print(model.predict(data))

[0]

In [49]:
import pickle
pickle.dump(model,open("spam_detection.pkl","wb"))

In [50]:
pickle.dump(cv,open("vectorize.pkl","wb"))